
body {
	margin: 0;
	font-family: Monospace, Arial, Sans-serif;
	background-color: #000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}

canvas {
	width: 100%; 
	height: 100%;
}


#panel {
    position: absolute;
    left:100px;
}

#middle {
    text-align: center;
    background-color: midnightblue;
    color: #fff;
    border: double 5px #fff;
    white-space: pre-line;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
}

#cover {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.small{
    font-size:x-small;
}

#controls {
    position: absolute;
    text-align: center;
    top: 50px;
    color: #fff;
    border: solid 2px #fff;
    margin: 5px;
    border-style: dashed;
    background: rgba(39,60,125,0.5);
    border-radius: 8px;
}

button {
    display: block;
    margin: auto;
    background-color: transparent;
    color: snow;
    border: solid snow 2px;
}
button:active{
    border-color:black;
}
button:hover{
    background-color:midnightblue;
}

#camera-position button{
    float:none;
    text-align:center;
    display:inline;
}